[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Josh Vocal
	email = josh.vocal@shopify.com
[pull]
	rebase = true
[core]
	excludesfile = /Users/joshvocal/.gitignore_global
[include]
	path = /Users/joshvocal/.config/dev/gitconfig
[fetch]
	prune = true
